Package: com.dgh0st.nohssearch
Name: NoHSSearch
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Remove the top spotlight and left today page from homescreen.
Maintainer: DGh0st <deeppwnage@yahoo.com>
Author: DGh0st <deeppwnage@yahoo.com>
Section: Tweaks
